<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Page Info-->
    <title>Kaspaam - Kahoot Bot Spammer</title>
    <meta name="description" content="<%- desc %>"/>
    <meta name="author" content="Flood a kahoot game with bots"/>
    <meta name="keywords" content="kahoot, spammer, spam, bots"/>
    <meta name="copyright" content="2021"/>
    <meta name="version" content="1"/>
    <meta name="application-name" content="Kaspam"/>
    <meta name="rating" content="General"/>

    <!-- Open Graph/Facebook meta tags -->
    <meta property="og:title" content="Kaspam - Kahoot Bot Spammer>"/>
    <meta property="og:url" content="http://kaspam.ga"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/images/background.jpg"/>
    <meta property="og:image:alt" content="The background image to my portfolio site">
    <meta property="og:description" content="Flood a kahoot game with bots"/>
    <meta property="og:site_name" content="Kaspam">

    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image"/>

    <!-- Miscellaneous meta tags -->
    <meta name="google" content="notranslate"/>
    <meta name="theme-color" content="#142134"/>

    <!--Icons-->
    <link rel="icon" href="/logo.png" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!--Manifest-->
    <link rel="manifest" href="/manifest.webmanifest"/>

    <!--Scripts-->
    <script src="/static/scripts/index.js" defer></script>

    <!--Stylesheets-->    
    <link rel="stylesheet" href="/static/styles/index.css"/>

<body>
    Kaspaam 
</body>
</html>